:root {
  --base-color: #f9f6ee;
  --accent-color: #640404;
  --light-accent-color: rgba(207, 142, 162, 0.1);
  --active-color: #ccc;
  --contrasting-text-color: #fff;
  --text-color: #a07272;
  --placeholder-color: #000;
  --secondary-text-color: rgba(100, 100, 100, 1);
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  --blur-background: rgba(256, 256, 256, 0.5);
  --first-bg: rgba(249, 246, 238, 0.95);
  --first-shadow: 0 10px 30px rgba(100, 4, 4, 0.15);
  --bg-transition: linear-gradient(
    45deg,
    var(--accent-color),
    var(--text-color)
  );
  --heading-bg: linear-gradient(45deg, var(--accent-color), var(--text-color));
  --list-bg: rgba(100, 4, 4, 0.05);
  --primary-blue: rgba(32, 36, 51, 0.7);
  --insight-color: rgba(61, 34, 34, 0.7);
  --transition-bg: #f0f9ff;
  --growth-bg: #f0f9ff;
}

body.darkmode {
  --accent-color: #640404;
  --contrasting-text-color: #fff;
  --text-color: #a07272;
  --secondary-text-color: rgba(200, 200, 200, 1);
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  --blur-background: rgba(256, 256, 256, 0.5);
  --first-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  --base-color: #494949; /* Dark background */
  --transition-bg: #524545;
  --growth-bg: #330c0c;
  --light-accent-color: rgba(
    42,
    42,
    62,
    0.2
  ); /* Slightly more visible in dark mode */
  --active-color: #555; /* Darker active state */
  --placeholder-color: #fff;
  --contrasting-text-color: #635c5c; /* High contrast text */
  --text-color: #fff; /* Softer muted red for text */
  --blur-background: rgba(0, 0, 0, 0.5);
  --first-bg: rgba(0, 0, 0, 0.95);
  --bg-transition: linear-gradient(45deg, var(--ligh), var(--base-color));
  --heading-bg: linear-gradient(
    45deg,
    var(--secondary-text-color),
    var(--text-color)
  );
  --list-bg: rgba(100, 200, 200, 0.15);
  --primary-blue: rgba(255, 255, 255, 0.7);
  --insight-color: rgba(225, 245, 255, 0.8);
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: none;
}

body {
  background-color: var(--base-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--bs-body-font-family);
}

.top-container {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--base-color);
  position: relative;
  overflow: hidden;
}

.inner-top {
  display: grid;
  place-items: center;
  height: 100dvh;
  width: 100dvw;
  position: relative;
  z-index: 4;
}

.main-heading {
  height: 50%;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-heading h1 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
  animation: slideInTitle 1.5s ease-out forwards;
  opacity: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes slideInTitle {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.background-shape {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.circle {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: 100vh;
  border-radius: 50%;
  transform: translateX(calc(100dvw / 2));
  box-sizing: border-box;
  border: clamp(2rem, 10vh, 10rem) solid var(--active-color);
  animation: borderincrease 1.5s ease-in;
}

@keyframes borderincrease {
  0% {
    border: clamp(0.5rem, 1vw, 1rem) solid var(--accent-color);
  }
  100% {
    border: clamp(2rem, 10vh, 10rem) solid var(--active-color);
  }
}

/* Use viewport-relative units and aspect-ratio for lines */
.hline {
  content: "";
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  height: clamp(2rem, 10vh, 10rem);
  width: clamp(30%, 55dvw, 60%);
  background-color: var(--active-color);
  transform: translateY(-50%);
  animation: hshapebg 1.5s ease-in;
}

@keyframes hshapebg {
  0% {
    background-color: var(--accent-color);
    height: clamp(0.5rem, 1vh, 1rem);
    width: 10%;
  }
  100% {
    height: clamp(2rem, 10vh, 10rem);
    width: clamp(30%, 55dvw, 60%);
    background-color: var(--active-color);
  }
}

.vline {
  content: "";
  position: absolute;
  height: 50%;
  width: clamp(2rem, 10vh, 10rem);
  background-color: var(--active-color);
  transform: translateX(100%) translateY(50%);
  animation: vshapebg 1.5s ease-in;
}

@keyframes vshapebg {
  0% {
    width: clamp(0.5rem, 1vw, 1rem);
    height: 50%;
    background-color: var(--accent-color);
  }
  100% {
    width: clamp(2rem, 10vh, 10rem);
    height: 50%;
    background-color: var(--active-color);
  }
}

/* Mobile adjustments while maintaining proportions */
@media (max-width: 500px) {
  .circle {
    width: 100vw;
    transform: translateY(25%) translateX(25%);
  }

  .hline {
    left: 0;
    height: clamp(1rem, 3vh, 2rem);
    width: 60%;
  }

  .vline {
    top: 25%;
    left: 10%;
    height: 25vh;
    width: clamp(1rem, 3vw, 2rem);
    transform: none;
  }
}

.content {
  background-color: var(--base-color);
}

.container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: hidden;
  margin: 0 auto;
}

.part-one {
  max-width: 800px;
  background: var(--first-bg);
  padding: 3rem;
  border-radius: 20px;
  box-shadow: var(--first-shadow);
  animation: slideUp 0.8s ease-out forwards;
  backdrop-filter: blur(10px);
}

.one-heading1 h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  background: var(--heading-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 0.8s ease-out forwards;
  text-align: center;
  color: var(--text-color);
}

.overview-heading h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--accent-color);
  animation: slideInLeft 0.8s ease-out forwards;
  opacity: 0;
  animation-delay: 0.3s;
}

.overview-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  animation: slideInRight 0.8s ease-out forwards;
  opacity: 0;
  animation-delay: 0.5s;
  color: var(--text-color);
}

.overview-list {
  margin: 2rem 0;
  animation: slideInLeft 0.8s ease-out forwards;
  opacity: 0;
  animation-delay: 0.7s;
}

.overview-list ol {
  list-style-position: inside;
  padding-left: 1rem;
}

.overview-list li {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  padding: 0.5rem 1rem;
  background: var(--list-bg);
  border-radius: 8px;
  transition: all 0.3s ease;
  color: var(--text-color);
}

.overview-list li:hover {
  transform: translateX(10px);
  background: rgba(100, 4, 4, 0.1);
  color: var(--accent-color);
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .part-one {
    padding: 2rem;
  }

  .one-heading1 h1 {
    font-size: 2rem;
  }

  .overview-heading h2 {
    font-size: 1.5rem;
  }

  .overview-text p {
    font-size: 1rem;
  }

  .overview-list li {
    font-size: 1rem;
  }
}

/* Enhanced hover effects with new color scheme */
/* .part-one:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 15px 35px rgba(100, 4, 4, 0.2);
} */

.part-one {
  position: relative;
  border: 1px solid rgba(160, 114, 114, 0.1);
}

.part-one::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: var(--bg-transition);
  z-index: -1;
  border-radius: 22px;
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.part-one:hover::before {
  opacity: 0.2;
}

.container2 {
  height: 90dvh;
  max-width: clamp(300px, 90%, 1200px);
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  overflow-y: auto;
  border-radius: 12px;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.part-two {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.insights-grid {
  width: 100%;
}

.inner-two {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.insights-container::-webkit-scrollbar {
  width: 8px;
}

.insights-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.insights-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.insights-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.two-heading1 {
  border-bottom: 1px solid var(--accent-color);
  padding: 1rem 1rem;
}

.two-heading1 h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--accent-color);
}

.insights-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

.insights-heading h2 {
  font-size: 1.5rem;
  color: var(--text-color);
}

.head-para-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-para-group canvas {
  max-width: 75%;
}

.head-para-group h3 {
  font-size: 1.75rem;
  color: var(--secondary-text-color);
}

.head-para-group p {
  color: var(--secondary-text-color);
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.rd-txt {
  color: var(--accent-color);
  font-size: 2rem;
  font-weight: 900;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.rd-txt::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--text-color);
  padding: 2rem 1rem;
  border-radius: 12px;
  z-index: -1;
  box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.5);
}

.stats-container p {
  font-size: 1.3rem;
  padding: 1dvh 1dvw;
  color: var(--text-color);
}

#svgbg {
  width: 100%;
}

canvas svg {
  fill: #007bff;
}

.svg-map-selector {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-width: 100dvw;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  margin-top: 1rem;
  background: var(--base-color);
}

.top2-3 h1 {
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
}

.svg-container {
  display: flex;
  max-width: 100%;
}

.svg-container:after {
  z-index: 10;
  content: "";
  width: 2dvw;
  height: 10rem;
  border: 1px solid rgba(255, 87, 51, 0.5);
  background: linear-gradient(0deg, rgba(255, 87, 51, 0), rgba(255, 87, 51, 1));
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.high-low:before {
  z-index: 10;
  content: "High";
  width: 2dvw;
  height: 10rem;
  position: absolute;
  left: 13%;
  font-weight: 600;
  text-transform: uppercase;
  bottom: 10%;
}

.high-low:after {
  z-index: 10;
  content: "LOW";
  width: 2dvw;
  height: 10rem;
  position: absolute;
  left: 13%;
  font-weight: 600;
  text-transform: uppercase;
  bottom: 0;
}

.india-map {
  height: 90dvh;
  max-width: 100dvh;
  z-index: 2;
  filter: drop-shadow(2px 2px 4px #333333);
}

.india-map svg {
  height: 90dvh;
  max-width: 100px;
  z-index: 2;
  background-color: red;
  filter: drop-shadow(2px 2px 4px #333333);
  opacity: 0; /* Initially hidden */
}

.india-map {
  animation: appear 2s ease-out forwards; /* Trigger animation when visible */
}

.svg-container {
  z-index: 5;
}

.india-map path:hover {
  fill: #640404;
  stroke: #a07272;
}

.container3 {
  height: 100dvh;
  display: flex;
  gap: 2dvh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.population-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  background: linear-gradient(135deg, var(--light-blue), #e0f2fe);
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 1vh 1vw;
}

#population-graph {
  max-width: 90dvw;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 2rem;
  padding: 1em 1em;
  font-weight: 700;
  color: var(--accent-color);
}

.fact-container {
  background-color: var(--light-accent-color);
  border-radius: 10px;
  padding: 1rem 1rem;
  display: flex;
  gap: 2dvh;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.fact-container > div {
  height: 100%;
  padding: 1rem 1rem;
  border-radius: 10px;
  background-color: var(--base-color);
}

.insight-card h2 {
  color: var(--primary-blue);
  font-size: 1.5rem;
  border-bottom: 2px solid var(--light-accent-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.insights-text {
  display: flex;
  flex-direction: column;
  gap: 1dvh;
  align-items: center;
  justify-content: center;
}

.insight-card {
  color: var(--insight-color);
  width: 100%;
}

li a {
  text-decoration: none;
  color: var(--insight-color);
}

.growth-breakdown {
  transition: all 0.3s ease;
}

.growth-breakdown:hover {
  background-color: var(--growth-bg);
  transform: scale(1.02);
}

.growth-breakdown:not(:hover) {
  background-color: var(--transition-bg);
  transform: scale(1);
}

.growth-breakdown {
  padding: 0.2rem;
  color: var(--insight-color);
  border-radius: 8px;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.layer-on {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blur-background);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.in-full {
  height: 90dvh;
  position: relative;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vdh;
}

.indiv {
  margin: 1dvh auto;
  width: 90dvw;
  height: 10dvh;

  text-align: center;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
}

.indiv h1 {
  font-size: 4rem;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
    -2px -2px -4px rgba(200, 0, 0, 0.3);
}

.graphs-inside {
  height: 90dvh;
  width: 100%;
  display: flex;
  padding: 1dvh 1dvw;
  align-items: stretch;
  justify-content: flex-start;
}

.leftGraphs {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 2dvh;
  align-items: center;
  justify-content: center;
  padding: 1dvh 1dvw;
}

.rightGraph {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-graph-container {
  background-color: var(--accent-color);
  transform: translateX(-1dvw);
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1dvh;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  box-shadow: var(--box-shadow);
  padding: 5dvh 0;
}

#category-assaults {
  background-color: var(--base-color);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  padding: 1dvh 1dvw;
}

.topGraph {
  flex: 0 0 50%;
  width: 50dvw;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1dvw;
  padding: 1dvh 1vdw;
}

.topLeftTable {
  background-color: rgba(256, 256, 256, 0.5);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  padding: 1dvh 1dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 60%;
  width: 100%;
  height: 100%;
}

.topTotalAssaults {
  display: flex;
  padding: 1dvw 1dvh;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  background-color: var(--accent-color);
  border-radius: 5px;
}

.topTotalAssaults h1 {
  font-weight: 900;
  font-size: 2rem;
  color: var(--contrasting-text-color);
  text-align: center;
}

.right-graph-container h1 {
  font-weight: 900;
  font-size: 2rem;
  color: var(--contrasting-text-color);
  text-align: center;
}

.headingAssaults {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--base-color);
}

.bottomGraph {
  width: 100%;
  height: 100%;
  flex: 0 0 50%;
  background-color: var(--accent-color);
  align-items: center;
  gap: 5dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  padding: 1dvh 1dvw;
  box-shadow: var(--box-shadow);
}

.bottomGraph h1 {
  color: var(--base-color);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid var(--base-color);
}

#yearly-assaults {
  background-color: var(--base-color);
  padding: 1dvh 1dvw;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  max-width: 100%;
}

.statistics-title {
  font-size: 1.5rem;
  color: #1a1a1a;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid black;
  font-weight: 600;
  display: flex;
}

.statistics-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.statistics-table th {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  border-bottom: 3px solid var(--accent-color);
}

.statistics-table td {
  padding: 1rem;
  border: 1px solid #dddddd;
  text-align: center;
  color: #333333;
  font-size: 0.95rem;
}

.statistics-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.statistics-table tr:hover {
  background-color: #e3f2fd;
  transition: background 0.3s ease-in-out;
}

.statistics-table tr:last-child td {
  border-bottom: none;
}

/* Responsive styles */
@media (max-width: 600px) {
  .statistics-container {
    padding: 1rem;
    margin: 1rem;
  }

  .statistics-table th,
  .statistics-table td {
    padding: 0.75rem;
  }

  .statistics-title {
    font-size: 1.25rem;
  }
}
